
.grid-container {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr 0.3fr;
  gap: 0.1px 0.1px;
  grid-template-areas: "header header header header header header header header header" 
                        "navegacion maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido" 
                        "navegacion maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido" 
                        "navegacion maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido" 
                        "navegacion maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido" 
                        "navegacion maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido" 
                        "footer footer footer footer footer footer footer footer footer";
}

.header { grid-area: header; }

.footer { grid-area: footer; }

.navegacion { grid-area: navegacion; }

.maincontenido { grid-area: maincontenido; }


#menu ul {
  grid-area: header;
  list-style:none;
  margin:0;
  padding:0;
 }
 
 
 
 #menu ul li {
  background-color:#f1a9eb;
 }
 
 
 
 #menu ul a {
  display:block;
  color:rgb(10, 9, 10);
  text-decoration:none;
  font-weight:200;
  font-size:8px;
  padding:10px;
  font-family:Arial, Helvetica, sans-serif, Haettenschweiler, 'property:value';
  text-transform:uppercase;
  letter-spacing:1.5px;
  background-color:#d15fc8;
 }
 

 
 #menu ul li {
  position:relative;
  float:left;
  margin:0;
  padding:0;
  
 }
 


 #menu ul li:hover {
  background:#b37bb3;
 }

 
        
  * 
  {
  margin:0px;
  padding:0px;
  }
         
  #header {
  margin:left;
  width:900px;
  font-family:Arial, Helvetica, sans-serif, Haettenschweiler, 'property:value';
  }
         
  ul, ol 
  {
  list-style:(decimal-leading-zero);
  }
         
  .nav 
  {
  
  width:700px; 
  margin:0 auto; 
  }

  .nav > li 
  {
  float:left;
  }
         
  .nav li a 
  {
   background-color:#000;
  color:#fff;
  text-decoration:none;
  padding:10px 12px;
  display:block;
  }
         
  .nav li a:hover 
  {
  background-color:#ad9eaa;
  }
         
  .nav li ul 
  {
  display:none;
  position:absolute;
  min-width:140px;
  }
         
  .nav li:hover > ul 
  {
  display:block;
  }
         
  .nav li ul li 
  {
  position:relative;
  }
         
  .nav li ul li ul 
  {
  right:-120px;
  top:0px;
  }


  #cabecera      
{
  grid-area: header;
  font: oblique bold 120% cursive;
  color: rgb(231, 231, 231);
  background-image: linear-gradient(rgb(50, 207, 194),rgb(193, 29, 199));
  font-size: 20px;
  text-align: start;
  padding: 0px;
  box-sizing: content-box;
  border-style: inset;
  border-width: 2.5mm;
  height: 175px;
  
  
}

.h3
  {  
  grid-area: header;
  text-align: right; 
  }

.div4
{
grid-area: footer;
font-family: Arial, Helvetica, sans-serif, Haettenschweiler, 'property:value';
color: rgb(97, 96, 94);
background-image: linear-gradient(rgb(50, 207, 194),rgb(193, 29, 199));
font-size: 20px;
text-align: left;
padding: 0px;
height: 175px;
box-sizing: content-box;
}


/* ultima actualizacion 28/06/20 20:52h */



title
{
 align-items: center;
 font-size: 30px;
}

 #contenido
  {
    grid-area: maincontenido;
  color: #94848f;
  padding: 10px;
  text-align: center;
  font: oblique bold 120% cursive;
  width: 100%;
  font-size: 15px;
  margin: 25px 50px 65px 10px;
  }

  

  .box2
   {
    grid-area: maincontenido;
   box-sizing: border-box;
   margin: 130.783×26.6667;    
   display: block;
   float: none;
   line-height: 30px;
   position: static;
   z-index: auto;
   }  

  #subsection2
  {
    grid-area: maincontenido;
  text-align: right;
  border: 5px outset rgb(117, 117, 117);
  background-color:rgb(197, 190, 195);
  width: 50%;
  margin: auto;
  box-sizing: content-box;
  }
  
  #subsection3
  {
  grid-area: maincontenido;
  text-align: center;
  margin: 50px 50px 75px 10px;
  }

 p
 {
  grid-area: maincontenido;
  color: #e450cb;
  
 }
 ol
 {
  
  list-style-type: none;
  font: oblique bold 120% cursive;
 }
 h5
 {
  text-align: center; 
  font-size: 30px;
  color: #e450cb;  
  font: oblique bold 120% cursive;
 }

 /*body
 {
  background:radial-gradient(circle, rgba(231,174,238,1) 0%, rgba(148,233,206,1) 100%);
 }*/


 .Div5
 {
  grid-area: maincontenido;
 transform: rotate(10deg);
 padding: 10px;
 margin: 5px 50px 7px 390px;
}

 
.box2.1
{
  grid-area: maincontenido;
padding: 10px;
margin: 50cm;
background-color: #57BC90;
border-radius: 10 px;
color:#aa3939;


}

.myButton {
  grid-area: maincontenido;
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:10px;
	border:3px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font: oblique bold 120% cursive;
	font-size:15px;
	font-weight:bold;
	padding:10px 37px;
	text-decoration:none;
	text-shadow:-1px 3px 32px #9752cc;
}
.myButton:hover {
  grid-area: maincontenido;
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}
.myButton:active {
  grid-area: maincontenido;
	position:relative;
	top:1px;
}

.myButton1 {
  grid-area: maincontenido;
	box-shadow:inset 0px 1px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #a3e67e 100%);
	background-color:#44c767;
	border-radius:10px;
	border:3px solid #93c497;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font: oblique bold 120% cursive;
	font-size:15px;
	font-weight:bold;
	padding:10px 37px;
	text-decoration:none;
	text-shadow:-1px 3px 32px #2f6627;
}
.myButton1:hover {
  grid-area: maincontenido;
	background:linear-gradient(to bottom, #a3e67e 5%, #44c767 100%);
	background-color:#a3e67e;
}
.myButton1:active {
  grid-area: maincontenido;
	position:relative;
	top:1px;
}

.animation1 {
  width: 200px;
  margin-left: 25cm;
  height: 50px;
  background-color:#7edfe6;
  position: relative;
  animation: mymove1 5s infinite;
}

@keyframes mymove1 {
  from  { top: 0px; }
  to {top: 200px;}
}

.animation2 {
  width: 200px;
  height: 50px;
  background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
  animation-name: mymove2;
  animation-duration: 7s ;
  animation-iteration-count: infinite;
}

@keyframes mymove2 {
  from  { 
    background:#bc80ea ; 
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  to {
    background-color:#a14b87;
    -moz-transform: scale(1.5) rotate(13deg);
-webkit-transform: scale(1.5) rotate(13deg);
-o-transform: scale(1.5) rotate(13deg);
-ms-transform: scale(1.5) rotate(13deg);
transform: scale(1.5) rotate(13deg);
  }
}


div.animation3 {
  margin-left: 15cm;
  width: 200px;
  height: 50px;
  /*background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);*/
  animation-name: mymove3;
  animation-duration: 7s ;
  animation-iteration-count: infinite;
}

@keyframes mymove3{
  0% {background-color: cornflowerblue;}
  25% {background-color: rgb(218, 221, 61);}
  75% {background-color: #a3e67e;}
  50% {background-color: #bc80ea;}



}

@font-face
{
font-family: BlackRose;
src: url(./black_rose_3/BlackRose.ttf);
}

#subsection1
{
  font-family: BlackRose;
}

#sketch
color: #8f8f8f;
grid-area: maincontenido;
font-size:30px;
font-style: italic;
font-weight: bold;
width: 100%;
margin: 40px;
font-family:sketch;
border: 5px outset rgb(117, 117, 117);
width: 60%;
margin: 5px 50px 7px 150px; 
text-align: center;
width: 60%;

/*#subsection1

   {
    
   text-align: center;
   color: #8f8f8f;
   border: 5px outset rgb(117, 117, 117);
   width: 60%;
   margin: 5px 50px 7px 150px;  
   }  */






