/* ultima actualizacion 28/06/20 20:52h */


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 0.3fr;
  gap: 1px 1px;
  grid-template-areas: "header header header header header header header header header" 
                        "navegacion maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido" 
                        "navegacion maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido" 
                        "navegacion maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido" 
                        "navegacion maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido" 
                        "navegacion maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido maincontenido" 
                        "footer footer footer footer footer footer footer footer footer";
}

.header { grid-area: header; }

.footer { grid-area: footer; }

.navegacion 
{ 
  grid-area: navegacion;
  background-color: rgb(235, 231, 231);
 }

.maincontenido 
{ 
grid-area: maincontenido; 
background-color: rgb(235, 231, 231);

}

#menu ul {
  grid-area: header;
  list-style:none;
  margin:40;
  padding:0;
 }
 
 #menu ul li {
  -webkit-transition: text-shadow 0.9s 0s ease-out;
  -moz-transition: text-shadow 0.9s 0s ease-out;
  -o-transition: text-shadow 0.9s 0s ease-out;
  transition: text-shadow 0.9s 0s ease-out;
 }
  
 #menu ul a {
  
  color:rgb(7, 5, 7);
  text-decoration:none;
  font-weight:150;
  font-family:Arial, Helvetica, sans-serif, Haettenschweiler, 'property:value';
  text-transform:uppercase;
  letter-spacing:1.2px;
  background-color:#ffffff;

  list-style-type: none;
	font-feature-settings: normal;
	line-break: auto;
	font-synthesis: style;
	margin: 0px 25px 0px 0px;
	text-transform: capitalize;
	font-size: 14px;
	text-decoration: none;
	line-height: 20px;
	font-weight: 700;
	transition: color 0.15s ease-in 0s;
	flex: 0 0 auto;
	padding: 10px 0px;
  box-shadow: none;

 }
 

 
 #menu ul li {
  position:sticky;
  float:left;
  margin:0;
  padding:0;
    
 }
 
 #menu ul li a:hover {
  transition: transform 0.9s 0s ease-in;
  color:#7f81ec;
  text-decoration: underline #7f81ec;
  text-transform: uppercase;
  
 }

 
  {
  margin:0px;
  padding:0px;
  }
         
    
  ul, ol 
  {
  list-style:(decimal-leading-zero);
  }
         
  .nav 
  {
  
  width:700px; 
  margin:0 auto; 
  }

  .nav > li 
  {
  float:left;
  }
         
  .nav li a 
  {
  background-color:#000;
  text-decoration:none;
  padding:10px 12px;
  display:block;
  }
         
  .nav li a:hover 
  {
  background-color:#ad9eaa; 
  color:#7f81ec;
  transition: transform 0.9s 0s ease-in;
  }
         
  .nav li ul 
  {
  display:none;
  position:absolute;
  min-width:140px;
  }
         
  .nav li:hover > ul 
  {
  display:block;
  color:#7f81ec;
  transition: transform 0.9s 0s ease-in;
  }
         
  .nav li ul li 
  {
  position:relative;
  }
         
  .nav li ul li ul 
  {
  right:-120px;
  top:0px;
  }

  
  .encabezado      
  {
    grid-area: header;
    font-family: "Satisfy", cursive;
      font-weight: bold;
      text-transform: uppercase;
      text-align: start;
      font-size: 35px;
      color: #7f81ec;
      background-color: rgba(255, 255, 255, 0.97);
      text-shadow: rgba(46, 159, 239, 0.5) 2px 9px 3px;
    
    padding: 0px;
    box-sizing: content-box;
    border-bottom: 9px double rgb(117, 117, 117);
    border-radius: 5px;
    border-top: 19px solid rgb(117, 117, 117);
    height: 100px;
    width: 1235px;
  }

  .myButtonc {
    margin-left: 28cm;
    margin-top: 0vmax;
    padding-top: 0mm;
    box-shadow:inset 0px 1px 0px 0px #7f81ec;
    background:linear-gradient(to bottom, #7f81e9 5%, #99afec 100%);
    background-color:#474e6d;
    border-radius:10px;
    border:3px solid #797db9;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #9752cc;
  }
  .myButtonc:hover {
    background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
    background-color:#bc80ea;
    
  }
  .myButtonc:active {
    position:relative;
    top:1px;
  }


.box1{
  grid-area: maincontenido;
  animation-duration: 7s;
  animation-name: slidein;
  
}

.box1.1
{
grid-area: maincontenido;
box-align: center;
padding: 10px; 
margin: 25px 50px 65px 410px
}

.box2
{
  grid-area: maincontenido;
  text-align: center;
  border: 20px outset rgb(117, 117, 117);
  background-color:rgb(197, 190, 195);
  width: 50%;
  margin: auto;
  box-sizing: content-box;
  height: 400px;
  width: 980px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h4
{
  font-family: BlackRose;
  font-size: 40px;
}

.box2.1
{
  grid-area: maincontenido;
  text-align: center;
  border: 20px outset rgb(117, 117, 117);
  background-color:rgb(197, 190, 195);
  width: 50%;
  margin: auto;
  box-sizing: content-box;
  height: 400px;
  width: 980px;

}

.box3
{
  grid-area: maincontenido;
  text-align: center;
  border: 20px outset rgb(117, 117, 117);
  background-color:rgb(197, 190, 195);
  width: 50%;
  margin: auto;
  box-sizing: content-box;
  height: 410px;
  width: 900px;

}

.box4
{
grid-area: maincontenido;
text-align: center;
border: 20px outset rgb(117, 117, 117);
background-color:rgb(197, 190, 195);
width: 50%;
margin: auto;
box-sizing: content-box;
height: 540px;
width: 980px;
}

p
{
 grid-area: maincontenido;
 color: #7f81ec;
 font: oblique bold 120% cursive;
 
}
.box5
{
 grid-area: maincontenido;
transform: rotate(10deg);
padding: 10px;
margin: 5px 50px 5px 120px;
}


.div4
{

font-family: "Satisfy", cursive;
font-weight: bold;
text-transform: uppercase;
text-align: start;
font-size: 10 px;
color: #7f81ec;
background-color: rgba(255, 255, 255, 0.97);
/*text-shadow: rgba(46, 159, 239, 0.5) 2px 9px 3px;*/

padding: 0px;
box-sizing: content-box;
border-bottom: 19px solid rgb(117, 117, 117);
border-radius: 5px;
border-top: 9px double rgb(117, 117, 117);
height: 170px;
width: 1235px;

}


 ol
 {
  
  list-style-type: none;
  font: oblique bold 120% cursive;
 }
 
 .box6
{
grid-area: maincontenido;
text-align: center;
border: 20px outset rgb(117, 117, 117);
background-color:rgb(197, 190, 195);
width: 50%;
margin: auto;
box-sizing: content-box;
height: 520px;
width: 980px;
}

.myButton2 {
  grid-area: maincontenido;
	box-shadow:inset 0px 1px 0px 0px #7f81ec;
	background:linear-gradient(to bottom, #7f81e9 5%, #99afec 100%);
	background-color:#474e6d;
	border-radius:10px;
	border:3px solid #797db9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font: oblique bold 120% cursive;
	font-size:15px;
	font-weight:bold;
	padding:10px 37px;
	text-decoration:none;
  text-shadow:-1px 3px 32px #5a75ad;
margin: 25px 50px 65px 110px
}

.myButton {
  grid-area: maincontenido;
	box-shadow:inset 0px 1px 0px 0px #7f81ec;
	background:linear-gradient(to bottom, #7f81e9 5%, #99afec 100%);
	background-color:#474e6d;
	border-radius:10px;
	border:3px solid #797db9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font: oblique bold 120% cursive;
	font-size:15px;
	font-weight:bold;
	padding:10px 37px;
	text-decoration:none;
  text-shadow:-1px 3px 32px #5a75ad;
  /*margin: 25px 50px 65px 410px;*/
}
.myButton:hover {
  grid-area: maincontenido;
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}
.myButton:active {
  grid-area: maincontenido;
	position:relative;
	top:1px;
}

.myButton1 {
  grid-area: maincontenido;
	box-shadow:inset 0px 1px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #a3e67e 100%);
	background-color:#44c767;
	border-radius:10px;
	border:3px solid #93c497;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font: oblique bold 120% cursive;
	font-size:15px;
	font-weight:bold;
	padding:10px 37px;
	text-decoration:none;
	text-shadow:-1px 3px 32px #2f6627;
}
.myButton1:hover {
  grid-area: maincontenido;
	background:linear-gradient(to bottom, #a3e67e 5%, #44c767 100%);
	background-color:#a3e67e;
}
.myButton1:active {
  grid-area: maincontenido;
	position:relative;
	top:1px;
}

.animation1 {
  background-color: #a6a1a8;
  position: relative;
  animation: mymove1 5s infinite;
}

@keyframes mymove1 {
  from  { top: 0px; }
  to {top: 100px;}
}


div.animation3 {
  animation-name: mymove3;
  animation-duration: 7s ;
  animation-iteration-count: infinite;
}

@keyframes mymove3{
  0% {background-color: rgb(80, 81, 82);}
  25% {background-color: rgb(158, 158, 158);}
  75% {background-color: #b6d7e4;}
  50% {background-color: #c5c2c4;}

}

@font-face
{
font-family: BlackRose;
src: url(./black_rose_3/BlackRose.ttf);
}


#sketch
color: #8f8f8f;
grid-area: maincontenido;
font-size:30px;
font-style: italic;
font-weight: bold;
width: 100%;
margin: 40px;
font-family:sketch;
border: 5px outset rgb(117, 117, 117);
width: 60%;
margin: 5px 50px 7px 150px; 
text-align: center;
width: 60%;


 




